.heater-input {
    border: 3px solid black;
    border-radius: 10px;
    margin: 2%;
    text-align: center;
}

.heater-buttons-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 5%;
}