/* .temperature-container {
    position: fixed;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
} */

/* .temperature-container {
    border: 3px solid black;
    border-radius: 10px;
    width: 85%;
    height: 200px;
    margin: 75px auto;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999; */
    /* padding-top: 80px; */
    /* box-sizing: border-box;
    background-color: white;
} */